<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/index.css}" href="../static/css/signin.css" rel="stylesheet"  type="text/css"/>

    <!-- JavaScript -->
    <script th:src="@{/lib/jquery/jquery-2.2.1.min.js}" src="../static/lib/jquery/jquery-2.2.1.min.js" type="application/javascript"></script>
    <script>
        $(function () {
            alert('document ready...');
        });
    </script>
</head>
<body>

<div class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome to Sunny Days Bank ATM</h1>
        <p><div class="btn"> Savings for a Sunny Day </div></p>
    </div>

    <!--<form class="form-signin"  th:action="@{/checkings_or_savings}" th:object="${accountChoice}"  method="post"> -->

    <!-- Example row of columns -->
    <form action="/checkings_deposit" method="post">

        <label class="sr-only">dateOfDeposit</label>
        Enter Date of Deposit:
        <input type="text" name="dateOfDeposit"/>
        <label class="sr-only">amountOfDeposit</label>
        Enter Amount of Deposit:
        <input type="text" name="amountOfDeposit"/>

        <input type="submit" name="action" value="SUBMIT"/>

        <div class="row">
            <div class="col-xs-7"  />
            <div class="col-xs-5"  align="left">

            </div>

        </div>
    </form>



</div> <!-- /container -->


</body>
</html>