<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/checkings_or_savings.css}" href="../static/css/checkings_or_savings.css" rel="stylesheet"  type="text/css"/>

    <!-- JavaScript -->
    <script th:src="@{/lib/jquery/jquery-2.2.1.min.js}" src="../static/lib/jquery/jquery-2.2.1.min.js" type="application/javascript"></script>
    <script>
        $(function () {
            alert('document ready...');
        });
    </script>
</head>
<body>

<div class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome to Sunny Days Bank ATM</h1>
        <p><div class="btn"> Savings for a Sunny Day </div></p>
    </div>

    <!-- Example row of columns -->
    <div class="form-signin" action="#" th:action="@{/checkings_or_savings}" th:object="${accountChoice}"  method="post">
        <div class="col-xs-2" align="left">
            <p><a class="btn btn-primary" href="#" type="submit"  th:field="*{choice}" >Checkings &raquo;</a></p>
        </div>
        <div class="col-xs-5" >

        </div>
        <div class="col-xs-5">
            <p><a class="btn btn-primary" href="#" type="submit"  th:field="*{choice}" >Savings &raquo;</a></p>
        </div>

    </div>


</div> <!-- /container -->


</body>
</html>