<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/after_signin.css}" href="../static/css/after_signin.css" rel="stylesheet"  type="text/css"/>

    <!-- JavaScript -->
    <script th:src="@{/lib/jquery/jquery-2.2.1.min.js}" src="../static/lib/jquery/jquery-2.2.1.min.js" type="application/javascript"></script>

</head>
<body>

<div class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Checking Deposit</h1>
    </div>

    <!--<form class="form-signin"  th:action="@{/checkings_or_savings}" th:object="${accountChoice}"  method="post"> -->

    <!-- Example row of columns -->
    <form class="form-signin" action="/checkings_deposit" method="post">

        <p th:text="'You must enter a date later than : ' +  ${lastCheckingTransactionDate} +' and before 12-31-2016.'" />
        <br/>
        <br/>

        <div class="row">
            <div class="col-xs-4" >
            <label class="sr-only">dateOfDeposit</label>
            Enter Date of Deposit:
            </div>
            <div class="col-xs-6"  align="left">
                <input type="text" name="dateOfDeposit" value="MM-DD-YYYY"/>
            </div>
            <div class="col-xs-2"  />
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-4" >
                <label class="sr-only">amountOfDeposit</label>
                Enter Amount of Deposit:
            </div>
            <div class="col-xs-6"  align="left">
                <input type="text" name="amountOfDeposit"/>
            </div>
            <div class="col-xs-2"  />
        </div>

        <br/>


        <div class="row">
            <div class="col-xs-6"  />
            <div class="col-xs-6"  align="left">
                <input type="submit" name="action" value="SUBMIT"/>
            </div>

        </div>
    </form>



</div> <!-- /container -->


</body>
</html>