<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/after_signin.css}" href="../static/css/after_signin.css" rel="stylesheet"  type="text/css"/>

    <!-- JavaScript -->
    <script th:src="@{/lib/jquery/jquery-2.2.1.min.js}" src="../static/lib/jquery/jquery-2.2.1.min.js" type="application/javascript"></script>

</head>
<body>

<div class="container">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Choose: Checkings or Savings</h1>
    </div>

    <!--<form class="form-signin"  th:action="@{/checkings_or_savings}" th:object="${accountChoice}"  method="post"> -->

    <!-- Example row of columns -->
    <form class="form-signin" action="/checkings_or_savings" method="post">

        <div class="row">
            <!-- <p th:text=" 'firstName:     ' +  ${firstName}" />
            <p th:text=" 'lastName:     ' +  ${lastName}" />
            First Name: <input type="text" th:value="${firstName}"/> <br/>  -->
            <div class="col-xs-2"  />
            <div class="col-xs-3" align="right">
                <input type="submit" name="action" value="CHECKING"/>
            </div>
            <div class="col-xs-2"  />
            <div class="col-xs-3"  align="left">
                <input type="submit" name="action" value="SAVINGS"/>
            </div>
            <div class="col-xs-2" />

        </div>
    </form>



</div> <!-- /container -->


</body>
</html>