<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Title</title>
<!-- CSS -->
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}"
	href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/index.css}" href="../static/css/signin.css"
	rel="stylesheet" type="text/css" />

<!-- JavaScript -->
<script th:src="@{/lib/jquery/jquery-2.2.1.min.js}"
	src="../static/lib/jquery/jquery-2.2.1.min.js"
	type="application/javascript"></script>

</head>
<body>

	<div class="container">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
		 <table border="1" style="width:100%;background-color: #ED8F24">  
		 <tr><td><h1 style="color:white ; font-size: 500%"><div class="row">	
		 Welcome to Sunny Days Bank ATM</h1></td></tr></table>
			<p>
			<div class="btn">Savings for a Sunny Day</div>
			</p>
		</div>

		<!--<form class="form-signin"  th:action="@{/checkings_or_savings}" th:object="${accountChoice}"  method="post"> -->

		<!-- Example row of columns -->
		<form action="/saving_options" method="post">


         <table border="1" style="width:100%;background-color: #ED8F24">
			<div class="row">
				<!-- <p th:text=" 'firstName:     ' +  ${firstName}" />
            <p th:text=" 'lastName:     ' +  ${lastName}" />
            First Name: <input type="text" th:value="${firstName}"/> <br/>  -->
				<div class="col-xs-6" />
				<div class="col-xs-6" align="left">
					<tr><td> <center> <h2><input type="submit" name="action" value="DEPOSIT" /></h2></center></td></tr> 
				</div>
			</div>
			<br />
		
			<div class="row">
				<div class="col-xs-6" />
				<div class="col-xs-6" align="left">
					<tr><td> <center> <h2><input type="submit" name="action" value="BALANCE" /></h2></center></td></tr> 
				</div>
			</div>	<br />
			<div class="row">
				<div class="col-xs-6" />
				<div class="col-xs-6" align="left">
				<tr><td> <center> <h2>	<input type="submit" name="action" value="WITHDRAWAL" /></h2></center></td></tr> 
				</div>
			</div>
			
			<br />
			<div class="row">
				<div class="col-xs-6" />
				<div class="col-xs-6" align="left">
					<tr><td> <center> <h2><input type="submit" name="action" value="TRANSACTIONS" /></h2></center></td></tr> 
				</div>

			</div></table>
		</form>


	</div>
	<!-- /container -->


</body>
</html>