<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="UTF-8"/>
    <title>Savings Withdrawal</title>
    <!-- CSS -->
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/index.css}" href="../static/css/signin.css" rel="stylesheet"  type="text/css"/>

    <!-- JavaScript -->
    <script th:src="@{/lib/jquery/jquery-2.2.1.min.js}" src="../static/lib/jquery/jquery-2.2.1.min.js" type="application/javascript"></script>

</head>
</head>
<body>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <table border="1" style="width:100%;background-color: #ED8F24"> <center>
		 <tr><td><h1 style="color:white ; font-size: 500%"><div class="row" />	
		 Welcome to Sunny Days Bank ATM</h1></td></tr></center> </table>
        <p><div class="btn"> Savings for a Sunny Day </div></p>
    </div>

    <!--<form class="form-signin"  th:action="@{/checkings_or_savings}" th:object="${accountChoice}"  method="post"> -->

    <!-- Example row of columns -->
    <form action="/saving_withdrawal" method="post">

 <center><label class="sr-only">
    dateOfDeposit</label>
    <table border="1" style="width:100%;background-color: #ED8F24"> <tr><td>
       <h2 style="color:white"> <center>Enter Date of Withdrawal:</center></h2>
       <center> <input type="text" name="dateOfDeposit"/></center>
        <center><label class="sr-only">amountOfDeposit</label></center>
        <center><h2 style="color:white">Enter Amount of Withdrawal:</h2></center>
       <center> <input type="text" name="amountOfDeposit"/></center>
<br/>

        <center><input type="submit" name="action" value="SUBMIT"/></center></td></tr></table>

        <div class="row">
            <div class="col-xs-7">  </div>
            <div class="col-xs-5"  align="left">

            </div>

        </div></center>
        </form>
</body>
</html>